<!DOCTYPE html>
<html>
  <head> 
    <title> Dice Roll </title>
  </head>

  <body>
  <ul class = "rolls">
    <% @roll.each do |a_roll| %>
        <li> <%= a_roll%> </li>
    <%end%>
    </ul>
  </body>

</html>
